body{
    background-color: black
}
table{
    border-collapse: collapse;
    color: white;
    border-color: chartreuse;
}

td,tr{
    padding: 4em;
}

h1{
    text-align: center;
    color: darkmagenta;
}

#datos{
    color:white;
    text-align: center;
    padding:4em;
}

#cartel {
    position: absolute;
    background-color: #f559f5;
    display: none;
    opacity: 1.5;
    margin-left: 32%;
}

#ganador {
    text-align: center; 
    margin: 4em;
}

#reinicio {
    margin-left: 12em;
}